* {
    box-sizing: red;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: rgba(38, 73, 3, 0.9);
    padding: 16px 0;
    color: azure;
    
    
}

header .containers{
        display:flex ;
        align-items: center;
        justify-content: space-between;
    }
    
header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li :hover {
    text-decoration: underline;
}

header li a {
    color: azure;
    text-decoration: none;
}

.containers{
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}
.articles article {
    width: 30%;
}
section{
    padding: 16px 0;
}
section h2,
.articles article{
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}
.articles article a {
    background-color: rgb(14, 60, 12);
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8PX;

    
}
.articles article a:hover {
    text-decoration: underline;


}
.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}
.articles article h3{
    font-size: 24 px;
}
section h2{
    font-size: 32 px;           
}   
#sports {
    background-color: rgba(0, 255, 0, 0.1);
} 
#sports .articles article a{
    background-color: rgba(0, 255, 0, 0.7);
}

#economy {
    background-color: rgba(248, 237, 82, 0.7) ;
}
#economy .articles article a {
    background-color: chocolate;
}

#game{
    background-color:  rgba(3, 86, 86, 0.756);
}

#game .articles article a {
    background-color: rgb(10, 182, 182);
}

#noticia {
    background-color: rgb(199, 73, 73);
}

#noticia .articles article a {
background-color: brown;
}